/* Nav bar starts here */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
/*.container{
    position: relative;
    margin-top: 100px;
}
.container img{
    display : block;
    width : 100%;
}
nav{
    position: fixed;
    z-index: 10;
    left:0;
    right: 0;
    top:0;
    height: 100px;
    background-color: #36486c;
    padding: 0 5%;
}
nav .logo{
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #ffffff;
}
nav .links{
    float : right;
    padding: 0;
    margin: 0;
    width : 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}
nav .links li{
    list-style: none;
}
nav .links a{
    display: block;
    padding: 3px;
    font-size: 80%;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    line-height: 90px;
    text-transform: uppercase;
}
nav .links a:hover,
nav .links a.active{
    color: #4eec0f;
}
#nav-toggle{
    position: absolute;
    top : -100px;
}
nav .icon-burger{
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(-50%);
    display: none;
}
nav .icon-burger .line{
    width: 30px;
    height: 5px;
    background-color: #ffffff;
    margin: 5px;
    border-radius: 3px;
}

@media screen and (max-width: 879px) {
    nav .logo{
        float: none;
        width: auto;
        justify-content: center;
    }
    nav .links{
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(0,0,0,.8);
        overflow: hidden;
        transition: all .5s ease-in-out;
    }
    nav .links a {
        font-size: 20px;
    }
    nav .icon-burger{
        display: block;
    }
    nav :checked ~ .links {
        bottom: 0;
    }
    nav :checked ~ .icon-burger .line:nth-child(1){
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(3){
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(2){
        opacity: 0;
    }

    
}
.contact{
    box-sizing: border-box;
    margin-top: 100px;
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    align-items: center;
    justify-content: center;
    background: url(../img/pexels-negative-space-33999.jpg);
    background-size: cover;
}
.contactform{
    width : 40%;
    padding: 40%;
    background: #ffffff;
}
*/

.container-contact{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}

.container-contact:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("pexels-dominika-roseclay-688668.jpg") no-repeat center;
    background-size: cover;
    z-index: -1;
    filter: blur(20px);
} 

.contact-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.leftside{
    height: 100%;
    background: url("pexels-dominika-roseclay-688668.jpg") no-repeat center;
    background-size: cover;
}
.rightside{
    padding: 25px 40px;
}

h2{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

h2:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #36486c;
}

.field{
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0,0,0,0);
    background-color: rgba(230,230,230,.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover{
    background-color: rgba(0,0,0,.1);
}
.field:focus{
    background-color: #ffffff;
    border: 2px solid rgba(30,85,250,.47);
}

.area{
    min-height: 150px;
}

.btn{
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #36486c;
    cursor: pointer;
    outline: none;
    border: none;
    color: #ffffff;
    transition: .3s;
}


.btn:hover{
    background-color:#4eec0f;
}

@media screen and (max-width: 879px) {
    .contact-box{
        grid-template-columns: 1fr;
    }
    .leftside{
        height: 200px;
    }
}



